/*.imgCar {
    height: auto;
margin : auto;
    background: lightgray;
}

.pet-photo {
  float: left;
  margin-right: 15px;
}

.slick-next:{
	color: black;
}*/
.pet-photo {
  float: left;
  width: 150px;
  height: 150px;
  margin-right: 15px;
}