<!DOCTYPE html>
<html>
<head>
	<title>Student Records</title>
	<meta charset="utf-8"/>
		<title> iiitb mini proj </title>
		<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
		<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
	
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
	<nav class="navbar navbar-default">
  		<div class="container-fluid">
    		<div class="navbar-header">
      		<a class="navbar-brand" href="http://localhost:8080/studentInfoRest/index0.jsp">Student Information System IIIT Bangalore</a>
    	</div>
    	<ul class="nav navbar-nav">
      		<li class="active"><a href="home.html">Home</a></li>
      		<li><a href="addStudent.html">Add Student</a></li>
			<li><a href="dispEachRecord.html">Display Each Student Details</a></li>
			<li><a href="dispAllRecords.html">Display All Student Details</a></li>
			<li><a href="updateRecord.html">Update Student Record</a></p></li>
    	</ul>
  		</div>
		</nav>
</body>
<div class="container">
  <!-- <h3>Virtual Student Information System</h3> -->
  <p>This student information system helps enter ,update check student data with minimal efforts. Restful web service has been used to create this website and in the front end bootstrap, jquery with ajax call has been used.</p>
</div>
</html>