<table>
	<thead>
	  <tr>
	    <th>Name</th>
	    <th>Roll No</th>
	    <th>DOB</th>
	    <th>Phy</th>
	    <th>Chem</th>
	    <th>Maths</th>
	    <th>Grade</th>
	    <th>Total Marks</th>
	    <th>Image</th>
	  </tr>
	</thead>
	<tbody>
		{{#each result}}
			<tr>
			    <td>{{this.name}}</td>
			    <td>{{this.rollNo}}</td>
			    <td>{{this.dob}}</td>
			    <td>{{this.phy}}</td>
			    <td>{{this.chem}}</td>
			    <td>{{this.maths}}</td>
			    <td>{{this.grade}}</td>
			    <td>{{this.totalMarks}}</td>
			    <td><img src = {{this.imgUrl}}></img></td>
			</tr>
		{{/each}}
	</tbody>
</table>